{% extends 'main.html' %}

{% load static %}

{% block content %}
<h1 class="display-1 text-white text-center mt-5 " style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;" > Manage Bookings </h1>

    <div class="check-in">
        <h4 class="display-6">Your booked flights</h4>

    <div class="check-in-list">
       
        <div class="container">
            <div class="row">
              <div class="col">
                  From :
                {{flight.Source_City}}
                {{flight.Source_City.name}}
              </div>

              <div class="col">
                  To :
                {{flight.Destination_City}}
                {{flight.Destination_City.name}}
              </div>

              <div class="col">
                Duration:
                {{flight.Flight_Duration}}
                
              </div>

              <div class="col">
                {{flight.Date}}
                {{flight.flight_time}}
              </div>

              <div class="col">
                Seat:
                {{tkt.Seat_location}}
                {{tkt.Seat_Number}}
              </div>
            </div>

            </div>


        </div>
        
        
    </div>


{% endblock content %}